* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141414;  
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 20px;
} */

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100; /* Ensure it stays on top of other elements */
    background-color: rgba(0, 0, 0, 0.7); 
    transition: background-color 0.3s ease; 
}

/* .header.scrolled {
    background-color: rgba(0, 0, 0, 0.9); 
} */

.header-logo {
    width: 100px;
    object-fit: contain;
    cursor: pointer;
}

.header-option {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;  
}

.header-option span {
    cursor: pointer;
    font-size: 14px;
    color: #e5e5e5;
    transition: color 0.3s ease-in-out;
}

.header-option span:hover {
    color: white;  
}

.header-avatar {
    width: 32px;
    object-fit: contain;
    cursor: pointer;
}

.sign-in{
    padding-right: 60px;
}

.header-avatar {
    margin-left: auto;  
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .header-option {
        display: none;  
    }
    .header-avatar {
        margin-right: 10px;
    }
}

